<h3>Add New Contact</h3>
<form name="add-person-form">
  <input type="text" name="firstName">
  <input type="text" name="lastName">
  <input type="text" name="phone">
  <input type="text" name="id">
  <button type="submit">Save</button>
</form>